body {
  display: flex;
  flex-direction: column;
}
.nav {
  background-color: aliceblue;
}
.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.card {
  /* book item */
  background-color: aqua;
}
